footer {
    background: $black;
    color: $yellow;    
}

.footer {
    display: block;
    text-align: center;

    @mixin atMedium {
        display: flex;
        justify-content: space-evenly;
    }    

    &__logo {
        width: 150px;
        margin: 0 auto 1.5rem auto; 
        @mixin atMedium {
            margin: 0;
        }
    }
}

.footer > div {
    margin-top: 2.5rem;
    @mixin atMedium {
        margin-top: 0;
    }
}

.footer-text {
    text-align: center;
    padding: 20px;
}

.fa-clr {
    font-size: 1.8rem;
    color: $white;
}